.body {
    background-color: #727272;
    font-color: white;
    font-family: source-sans-pro, sans-serif;
    font-weight: 200;
    font-style: normal; 
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 5%;
}

a:link {
    color: #FFFFFF;
    font-weight: 200;
}

.main {
    display: flex;
}

.leftMain {
    display: inline-block;
    background-color: azure;
}

.rightMain {
    display: inline-block;
    background-color: coral;
}

.logo {
    display: table;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.button {
    display: table;
    margin: 0 auto;
}

.social-media {
    text-align: center;
    background-color: cadetblue;
}

.social-media a{
    display: inline;
    margin: 1%
}

.marginTop {
    margin-top: 4%;
}



