.body {
    background-color: #FFFFFF;
    font-family: abel, sans-serif;
    font-style: normal; 
    margin: 5%;
}

.links a{
    color: #000000;
    font-weight: 300;
    font-size: 3rem;
    transition: 1s;
}

.links a:hover {
    transition: 1s;
    color: deepskyblue !important;
}

.main {
}

.leftMain {
}

.rightMain {
}

.logo {
    display: table;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.button {
    display: table;
    margin: 0 auto;
}

.bottom {
    margin-top: 1%;
}

.social-media {
    text-align: center;
}

.social-media a{
    display: inline;
    margin: 1%;
}

@media only screen and (max-width: 400px) {
    a:Link{
        font-size: 2rem;
    }
    .social-media{
        margin-top: 1%;
    }
}



